/* Navbar.css */

/* Style global pour le nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #e5e7eb;
    /* bg-neutral-200 */
    color: #6b7280;
    /* text-neutral-500 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* shadow-lg */
}

.navbar-dark {
    background-color: #4b5563;
    /* dark:bg-neutral-600 */
}

.navbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #4b5563;
    /* hover:text-neutral-700 */
}

.navbar .brand-text {
    font-size: 1rem;
    padding-left: 0.25rem;
    color: #6b7280;
    /* text-neutral-500 */
}

.navbar .brand-text:hover {
    color: #4b5563;
    /* hover:text-neutral-700 */
}

/* Liste des éléments de navigation */
.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin: 0 1rem;
    /* mx-4 */
}

.nav-item a {
    padding: 10px 16px;
    /* + d'espace horizontal & vertical */
    border-radius: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #333;
    display: inline-block;
    /* s'assure que padding est bien pris en compte */
}

.nav-item a:hover {
    color: #fff;
    background-color: #6b7280;
    border-radius: 8px;
    text-decoration: none;
}

.active-nav-link {
    font-weight: bold;
    background-color: #ffffff;
}

.home-icon-link {
    padding-left: 12px;
}

.home-icon-link i {
    font-size: 28px;
    color: #333;
    transition: color 0.3s ease;
}

.home-icon-link:hover i {
    color: #000;
}


/* Bouton utilisateur */
.user-btn {
    background-color: transparent;
    border: 1px solid #6b7280;
    border-radius: 0.375rem;
    /* rounded */
    padding: 0.5rem 1rem;
    font-size: 28px;
    /* text-xs */
    color: #6b7280;
    cursor: pointer;
    transition: all 0.3s;
}

.user-btn:hover {
    background-color: #f3f4f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* hover:shadow-lg */
    color: #4b5563;
    /* hover:text-neutral-500 */
}

.search-bar {
    display: flex;
    align-items: left;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    padding: 5px;
    width: 300px;
    /* Taille modifiable */
}

.search-input {
    border: none;
    outline: none;
    padding: 5px 10px;
    flex-grow: 1;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-btn i {
    color: #333;
    font-size: 16px;
}

/* Style pour chaque élément de la liste */
.film-item {
    padding: 10px 15px;
    cursor: pointer;
    /* Change le curseur en forme de main */
    transition: background-color 0.3s ease;
}

/* Effet sur hover */
.film-item:hover {
    background-color: #f0f0f0;
}

.user-name {
    margin-right: 8px;
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

.user-name:hover {
    color: #007bff;
    /* Bleu clair au survol */
}